---
import doors from "../data/XmasDoors.json"

const sortedDoors = doors.sort((a, b) => a.num - b.num)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Mads - Xmas Doors</title>
  </head>
  <body class="flex flex-col items-center">
    <h1 class="text-3xl">Doors</h1>
    {
      sortedDoors.map((door) => (
        <div class="rounded-md border w-fit flex flex-col items-center m-4 p-1">
          <h1 class="text-lg font-bold">{door.num}</h1>
          <h2>{door.content}</h2>
          <p class="italic">{door.details}</p>
        </div>
      ))
    }
  </body>
</html>
