---
import Layout from "@/layouts/Layout.astro"
import doors from "../data/XmasDoors.json"
---

<Layout title="No">
  <main class="bg-blue-950 text-white">
    <h1>Hei Mads!</h1>
    <div class="flex flex-wrap justify-center gap-2">
      {
        doors.map((door) => (
          <div class=" flex-1 border-2 flex flex-col p-5 gap-4">
            <h2>{door.id}</h2>
            <input id={"input" + door.id} class="bg-blue-950 border-2 rounded-md" value={door.content} />
            <textarea id={"textarea" + door.id} class="bg-blue-950 border-2 rounded-md h-40">
              {door.details}
            </textarea>

            <button id={"save" + door.id} class="bg-blue-900 hover:to-blue-900/20 border-2 rounded-md">
              Lagre
            </button>
          </div>
        ))
      }
    </div>
  </main>
  <script>
    import doors from "../data/XmasDoors.json"
    document.querySelectorAll("button").forEach((button, index) => {
      button.addEventListener("click", (event) => {
        const content = document.getElementById(`input${index + 1}`) as HTMLInputElement
        const details = document.getElementById(`textarea${index + 1}`) as HTMLTextAreaElement
        const door = {
          id: index + 1,
          content: content.value,
          details: details.value,
        }
        doors[index] = door
        fetch("/api/write-json", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(door),
        })
      })
    })
  </script>
</Layout>
