---
import DoorList from "@/components/DoorList"
import { XmasDoors } from "../data/XmasDoors"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Mads - Xmas Doors</title>
  </head>
  <body class="flex flex-col items-center">
    <h1 class="text-3xl">Doors</h1>
    <DoorList doors={XmasDoors} />
  </body>
</html>
